:root {
	--links: #000000;
	--links-visited: #5f5f5f;
	--title: #4e90fc;
	--code-bg: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", monospace;
}

body {
	justify-content: center;
	width: clamp(50vw, 50vw, 90vw);
	margin-left: clamp(3vw, 25vw, 25vw);
	margin-right: clamp(0vw, 3vw, 3vw);
	margin-bottom: 3vh;
}

a:link {
	color: var(--link);
}

a:visited {
	color: var(--link-visited);
}

code {
	padding: 0.3vh 0.3vw;
	background-color: var(--code-bg);
	border-radius: 5px;
}
