:root {
	--links: #000000;
	--links-visited: #5f5f5f;
	--title: #4e90fc;
	--code-bg: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", monospace;
}

body {
	justify-content: center;
	width: 90vw;
	margin: 3vw auto;
}

@media (min-width: 768px) {
	 body {
		width: 50vw;
	}
}

a:link {
	color: var(--links);
}

a:visited {
	color: var(--links-visited);
}

code {
	padding: 0.3vh 0.3vw;
	background-color: var(--code-bg);
	border-radius: 5px;
}
