@import "./globals.css";

#navbar {
	margin-top: 1vh;
	text-align: center;
}

#introduction {
	margin-top: 3vh;
	text-align: left;
}

#tech-title {
	margin-top: 3vh;
	text-align: left;
	color: var(--title);
}

#tech-articles {
	text-align: left;
	margin-left: 1vw;
}
