@import "../../globals.css";

ul {
	margin-left: 2vw;
}

#title {
	margin-top: 3vh;
	/*color: var(--title);*/
	text-align: center;
	display: flex;
}

#home {
	margin-left: 1vw;
	margin-top: 0.3vh;
}

#subtitle {
	margin-top: 3vh;
	color: var(--title);
	text-align: left;
}

#content {
	margin-top: 1vh;
}

#cvp-image {
	margin-top: 2vh;
	display: flex;
	justify-content: center;
}

#codeblock {
	margin-top: 2vh;
	margin-bottom: 2vh;
	background: var(--code-bg);
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	tab-size: 2;
}

#codeblock pre {
	margin: 0;
	padding: 0;
}

#codeblock code {
	margin: 0;
	padding: 0;
}

#content ul {
	padding-left: 4vw;
}

@media(min-width: 768px) {
	#content ul {
		padding-left: 0vw;
	}
}
